In [1]:
import pandas as pd
import numpy as np

In [2]:
data_name = pd.read_csv("data/name_gender.txt", delimiter=None, header=None, names=None, index_col=None )

In [3]:
name_list = data_name.values.tolist()

In [4]:
#name_list

In [5]:
name_list[0][0]

'Mary'

In [6]:
len(name_list)

187778

In [7]:
#c = 0
#for i in name_list:
#    c = c+1
#    print (c)
# length of list 1 to 153812

In [8]:
name_list_2 = []
# counter = 0
# for i in range(0,153812):
#     if i%2 == 0: #even
#         name_array[counter][0] = name_list[i]
#     else:
#         name_array[counter][1] = name_list[i]
#         counter = counter + 1
# 

counter = 0
for i in range(0,len(name_list),2):
    if i%2 == 0: #even
        name_list_2.append([name_list[i][0],name_list[i+1][0]])

In [9]:
#name_list_2

In [10]:
data = pd.DataFrame(name_list_2, columns=['Name', 'Gender'])

In [11]:
data

            Name  Gender
0           Mary  Female
1           Anna  Female
2           Emma  Female
3      Elizabeth  Female
4         Minnie  Female
...          ...     ...
93884     Zichen    Male
93885      Ziden    Male
93886      Zijun    Male
93887      Zilas    Male
93888      Zirui    Male

[93889 rows x 2 columns]

In [12]:
user_data = pd.read_csv("data/yelp_academic_dataset_user.csv")

#### Test-1

In [13]:
data.Name.tolist()

['Mary',
 'Anna',
 'Emma',
 'Elizabeth',
 'Minnie',
 'Margaret',
 'Ida',
 'Alice',
 'Bertha',
 'Sarah',
 'Annie',
 'Clara',
 'Ella',
 'Florence',
 'Cora',
 'Martha',
 'Laura',
 'Nellie',
 'Grace',
 'Carrie',
 'Maude',
 'Mabel',
 'Bessie',
 'Jennie',
 'Gertrude',
 'Julia',
 'Hattie',
 'Edith',
 'Mattie',
 'Rose',
 'Catherine',
 'Lillian',
 'Ada',
 'Lillie',
 'Helen',
 'Jessie',
 'Louise',
 'Ethel',
 'Lula',
 'Myrtle',
 'Eva',
 'Frances',
 'Lena',
 'Lucy',
 'Edna',
 'Maggie',
 'Pearl',
 'Daisy',
 'Fannie',
 'Josephine',
 'Dora',
 'Rosa',
 'Katherine',
 'Agnes',
 'Marie',
 'Nora',
 'May',
 'Mamie',
 'Blanche',
 'Stella',
 'Ellen',
 'Nancy',
 'Effie',
 'Sallie',
 'Nettie',
 'Della',
 'Lizzie',
 'Flora',
 'Susie',
 'Maud',
 'Mae',
 'Etta',
 'Harriet',
 'Sadie',
 'Caroline',
 'Katie',
 'Lydia',
 'Elsie',
 'Kate',
 'Susan',
 'Mollie',
 'Alma',
 'Addie',
 'Georgia',
 'Eliza',
 'Lulu',
 'Nannie',
 'Lottie',
 'Amanda',
 'Belle',
 'Charlotte',
 'Rebecca',
 'Ruth',
 'Viola',
 'Olive',
 'Amelia',
 'Hannah',
 'Jane',
 'Virginia',
 'Emily',
 'Matilda',
 'Irene',
 'Kathryn',
 'Esther',
 'Willie',
 'Henrietta',
 'Ollie',
 'Amy',
 'Rachel',
 'Sara',
 'Estella',
 'Theresa',
 'Augusta',
 'Ora',
 'Pauline',
 'Josie',
 'Lola',
 'Sophia',
 'Leona',
 'Anne',
 'Mildred',
 'Ann',
 'Beulah',
 'Callie',
 'Lou',
 'Delia',
 'Eleanor',
 'Barbara',
 'Iva',
 'Louisa',
 'Maria',
 'Mayme',
 'Evelyn',
 'Estelle',
 'Nina',
 'Betty',
 'Marion',
 'Bettie',
 'Dorothy',
 'Luella',
 'Inez',
 'Lela',
 'Rosie',
 'Allie',
 'Millie',
 'Janie',
 'Cornelia',
 'Victoria',
 'Ruby',
 'Winifred',
 'Alta',
 'Celia',
 'Christine',
 'Beatrice',
 'Birdie',
 'Harriett',
 'Mable',
 'Myra',
 'Sophie',
 'Tillie',
 'Isabel',
 'Sylvia',
 'Carolyn',
 'Isabelle',
 'Leila',
 'Sally',
 'Ina',
 'Essie',
 'Bertie',
 'Nell',
 'Alberta',
 'Katharine',
 'Lora',
 'Rena',
 'Mina',
 'Rhoda',
 'Mathilda',
 'Abbie',
 'Eula',
 'Dollie',
 'Hettie',
 'Eunice',
 'Fanny',
 'Ola',
 'Lenora',
 'Adelaide',
 'Christina',
 'Lelia',
 'Nelle',
 'Sue',
 'Johanna',
 'Lilly',
 'Lucinda',
 'Minerva',
 'Lettie',
 'Roxie',
 'Cynthia',
 'Helena',
 'Hilda',
 'Hulda',
 'Bernice',
 'Genevieve',
 'Jean',
 'Cordelia',
 'Marian',
 'Francis',
 'Jeanette',
 'Adeline',
 'Gussie',
 'Leah',
 'Lois',
 'Lura',
 'Mittie',
 'Hallie',
 'Isabella',
 'Olga',
 'Phoebe',
 'Teresa',
 'Hester',
 'Lida',
 'Lina',
 'Winnie',
 'Claudia',
 'Marguerite',
 'Vera',
 'Cecelia',
 'Bess',
 'Emilie',
 'John',
 'Rosetta',
 'Verna',
 'Myrtie',
 'Cecilia',
 'Elva',
 'Olivia',
 'Ophelia',
 'Georgie',
 'Elnora',
 'Violet',
 'Adele',
 'Lily',
 'Linnie',
 'Loretta',
 'Madge',
 'Polly',
 'Virgie',
 'Eugenia',
 'Lucile',
 'Lucille',
 'Mabelle',
 'Rosalie',
 'Kittie',
 'Meta',
 'Angie',
 'Dessie',
 'Georgiana',
 'Lila',
 'Regina',
 'Selma',
 'Wilhelmina',
 'Bridget',
 'Lilla',
 'Malinda',
 'Vina',
 'Freda',
 'Gertie',
 'Jeannette',
 'Louella',
 'Mandy',
 'Roberta',
 'Cassie',
 'Corinne',
 'Ivy',
 'Melissa',
 'Lyda',
 'Naomi',
 'Norma',
 'Bell',
 'Margie',
 'Nona',
 'Zella',
 'Dovie',
 'Elvira',
 'Erma',
 'Irma',
 'Leota',
 'William',
 'Artie',
 'Blanch',
 'Charity',
 'Lorena',
 'Lucretia',
 'Orpha',
 'Alvina',
 'Annette',
 'Catharine',
 'Elma',
 'Geneva',
 'Janet',
 'Lee',
 'Leora',
 'Lona',
 'Miriam',
 'Zora',
 'Linda',
 'Octavia',
 'Sudie',
 'Zula',
 'Adella',
 'Alpha',
 'Frieda',
 'George',
 'Joanna',
 'Leonora',
 'Priscilla',
 'Tennie',
 'Angeline',
 'Docia',
 'Ettie',
 'Flossie',
 'Hanna',
 'Letha',
 'Minta',
 'Retta',
 'Rosella',
 'Adah',
 'Berta',
 'Elisabeth',
 'Elise',
 'Goldie',
 'Leola',
 'Margret',
 'Adaline',
 'Floy',
 'Idella',
 'Juanita',
 'Lenna',
 'Lucie',
 'Missouri',
 'Nola',
 'Zoe',
 'Eda',
 'Isabell',
 'James',
 'Julie',
 'Letitia',
 'Madeline',
 'Malissa',
 'Mariah',
 'Pattie',
 'Vivian',
 'Almeda',
 'Aurelia',
 'Claire',
 'Dolly',
 'Hazel',
 'Jannie',
 'Kathleen',
 'Kathrine',
 'Lavinia',
 'Marietta',
 'Melvina',
 'Ona',
 'Pinkie',
 'Samantha',
 'Susanna',
 'Chloe',
 'Donnie',
 'Elsa',
 'Gladys',
 'Matie',
 'Pearle',
 'Vesta',
 'Vinnie',
 'Antoinette',
 'Clementine',
 'Edythe',
 'Harriette',
 'Libbie',
 'Lilian',
 'Lue',
 'Lutie',
 'Magdalena',
 'Meda',
 'Rita',
 'Tena',
 'Zelma',
 'Adelia',
 'Annetta',
 'Antonia',
 'Dona',
 'Elizebeth',
 'Georgianna',
 'Gracie',
 'Iona',
 'Lessie',
 'Leta',
 'Liza',
 'Mertie',
 'Molly',
 'Neva',
 'Oma',
 'Alida',
 'Alva',
 'Cecile',
 'Cleo',
 'Donna',
 'Ellie',
 'Ernestine',
 'Evie',
 'Frankie',
 'Helene',
 'Minna',
 'Myrta',
 'Prudence',
 'Queen',
 'Rilla',
 'Savannah',
 'Tessie',
 'Tina',
 'Agatha',
 'America',
 'Anita',
 'Arminta',
 'Dorothea',
 'Ira',
 'Luvenia',
 'Marjorie',
 'Maybelle',
 'Mellie',
 'Nan',
 'Pearlie',
 'Sidney',
 'Velma',
 'Clare',
 'Constance',
 'Dixie',
 'Ila',
 'Iola',
 'Jimmie',
 'Louvenia',
 'Lucia',
 'Ludie',
 'Luna',
 'Metta',
 'Patsy',
 'Phebe',
 'Sophronia',
 'Adda',
 'Avis',
 'Betsy',
 'Bonnie',
 'Cecil',
 'Cordie',
 'Emmaline',
 'Ethelyn',
 'Hortense',
 'June',
 'Louie',
 'Lovie',
 'Marcella',
 'Melinda',
 'Mona',
 'Odessa',
 'Veronica',
 'Aimee',
 'Annabel',
 'Ava',
 'Bella',
 'Carolina',
 'Cathrine',
 'Christena',
 'Clyde',
 'Dena',
 'Dolores',
 'Eleanore',
 'Elmira',
 'Fay',
 'Frank',
 'Jenny',
 'Kizzie',
 'Lonnie',
 'Loula',
 'Magdalene',
 'Mettie',
 'Mintie',
 'Peggy',
 'Reba',
 'Serena',
 'Vida',
 'Zada',
 'Abigail',
 'Celestine',
 'Celina',
 'Claudie',
 'Clemmie',
 'Connie',
 'Daisie',
 'Deborah',
 'Dessa',
 'Easter',
 'Eddie',
 'Emelia',
 'Emmie',
 'Imogene',
 'India',
 'Jeanne',
 'Joan',
 'Lenore',
 'Liddie',
 'Lotta',
 'Mame',
 'Nevada',
 'Rachael',
 'Sina',
 'Willa',
 'Aline',
 'Beryl',
 'Charles',
 'Daisey',
 'Dorcas',
 'Edmonia',
 'Effa',
 'Eldora',
 'Eloise',
 'Emmer',
 'Era',
 'Gena',
 'Henry',
 'Iris',
 'Izora',
 'Lennie',
 'Lissie',
 'Mallie',
 'Malvina',
 'Mathilde',
 'Mazie',
 'Queenie',
 'Robert',
 'Rosina',
 'Salome',
 'Theodora',
 'Therese',
 'Vena',
 'Wanda',
 'Wilda',
 'Altha',
 'Anastasia',
 'Besse',
 'Bird',
 'Birtie',
 'Clarissa',
 'Claude',
 'Delilah',
 'Diana',
 'Emelie',
 'Erna',
 'Fern',
 'Florida',
 'Frona',
 'Hilma',
 'Joseph',
 'Juliet',
 'Leonie',
 'Lugenia',
 'Mammie',
 'Manda',
 'Manerva',
 'Manie',
 'Nella',
 'Paulina',
 'Philomena',
 'Rae',
 'Selina',
 'Sena',
 'Theodosia',
 'Tommie',
 'Una',
 'Vernie',
 'Adela',
 'Althea',
 'Amalia',
 'Amber',
 'Angelina',
 'Annabelle',
 'Anner',
 'Arie',
 'Clarice',
 'Corda',
 'Corrie',
 'Dell',
 'Dellar',
 'Donie',
 'Doris',
 'Elda',
 'Elinor',
 'Emeline',
 'Emilia',
 'Esta',
 'Estell',
 'Etha',
 'Fred',
 'Hope',
 'Indiana',
 'Ione',
 'Jettie',
 'Johnnie',
 'Josiephine',
 'Kitty',
 'Lavina',
 'Leda',
 'Letta',
 'Mahala',
 'Marcia',
 'Margarette',
 'Maudie',
 'Maye',
 'Norah',
 'Oda',
 'Patty',
 'Paula',
 'Permelia',
 'Rosalia',
 'Roxanna',
 'Sula',
 'Vada',
 'Winnifred',
 'Adline',
 'Almira',
 'Alvena',
 'Arizona',
 'Becky',
 'Bennie',
 'Bernadette',
 'Camille',
 'Cordia',
 'Corine',
 'Dicie',
 'Dove',
 'Drusilla',
 'Elena',
 'Elenora',
 'Elmina',
 'Ethyl',
 'Evalyn',
 'Evelina',
 'Faye',
 'Huldah',
 'Idell',
 'Inga',
 'Irena',
 'Jewell',
 'Kattie',
 'Lavenia',
 'Leslie',
 'Lovina',
 'Lulie',
 'Magnolia',
 'Margeret',
 'Margery',
 'Media',
 'Millicent',
 'Nena',
 'Ocie',
 'Orilla',
 'Osie',
 'Pansy',
 'Ray',
 'Rosia',
 'Rowena',
 'Shirley',
 'Tabitha',
 'Thomas',
 'Verdie',
 'Walter',
 'Zetta',
 'Zoa',
 'Zona',
 'Albertina',
 'Albina',
 'Alyce',
 'Amie',
 'Angela',
 'Annis',
 'Carol',
 'Carra',
 'Clarence',
 'Clarinda',
 'Delphia',
 'Dillie',
 'Doshie',
 'Drucilla',
 'Etna',
 'Eugenie',
 'Eulalia',
 'Eve',
 'Felicia',
 'Florance',
 'Fronie',
 'Geraldine',
 'Gina',
 'Glenna',
 'Grayce',
 'Hedwig',
 'Jessica',
 'Jossie',
 'Katheryn',
 'Katy',
 'Lea',
 'Leanna',
 'Leitha',
 'Leone',
 'Lidie',
 'Loma',
 'Lular',
 'Magdalen',
 'Maymie',
 'Minervia',
 'Muriel',
 'Neppie',
 'Olie',
 'Onie',
 'Osa',
 'Otelia',
 'Paralee',
 'Patience',
 'Rella',
 'Rillie',
 'Rosanna',
 'Theo',
 'Tilda',
 'Tishie',
 'Tressa',
 'Viva',
 'Yetta',
 'Zena',
 'Zola',
 'Abby',
 'Aileen',
 'Alba',
 'Alda',
 'Alla',
 'Alverta',
 'Ara',
 'Ardelia',
 'Ardella',
 'Arrie',
 'Arvilla',
 'Augustine',
 'Aurora',
 'Bama',
 'Bena',
 'Byrd',
 'Calla',
 'Camilla',
 'Carey',
 'Carlotta',
 'Celestia',
 'Cherry',
 'Cinda',
 'Classie',
 'Claudine',
 'Clemie',
 'Clifford',
 'Clyda',
 'Creola',
 'Debbie',
 'Dee',
 'Dinah',
 'Doshia',
 'Ednah',
 'Edyth',
 'Eleanora',
 'Electa',
 'Eola',
 'Erie',
 'Eudora',
 'Euphemia',
 'Evalena',
 'Evaline',
 'Faith',
 'Fidelia',
 'Freddie',
 'Golda',
 'Harry',
 'Helma',
 'Hermine',
 'Hessie',
 'Ivah',
 'Janette',
 'Jennette',
 'Joella',
 'Kathryne',
 'Lacy',
 'Lanie',
 'Lauretta',
 'Leana',
 'Leatha',
 'Leo',
 'Liller',
 'Lillis',
 'Louetta',
 'Madie',
 'Mai',
 'Martina',
 'Maryann',
 'Melva',
 'Mena',
 'Mercedes',
 'Merle',
 'Mima',
 'Minda',
 'Monica',
 'Nealie',
 'Netta',
 'Nolia',
 'Nonie',
 'Odelia',
 'Ottilie',
 'Phyllis',
 'Robbie',
 'Sabina',
 'Sada',
 'Sammie',
 'Suzanne',
 'Sybilla',
 'Thea',
 'Tressie',
 'Vallie',
 'Venie',
 'Viney',
 'Wilhelmine',
 'Winona',
 'Zelda',
 'Zilpha',
 'Adelle',
 'Adina',
 'Adrienne',
 'Albertine',
 'Alys',
 'Ana',
 'Araminta',
 'Arthur',
 'Birtha',
 'Bulah',
 'Caddie',
 'Celie',
 'Charlotta',
 'Clair',
 'Concepcion',
 'Cordella',
 'Corrine',
 'Delila',
 'Delphine',
 'Dosha',
 'Edgar',
 'Elaine',
 'Elisa',
 'Ellar',
 'Elmire',
 'Elvina',
 'Ena',
 'Estie',
 'Etter',
 'Fronnie',
 'Genie',
 'Georgina',
 'Glenn',
 'Gracia',
 'Guadalupe',
 'Gwendolyn',
 'Hassie',
 'Honora',
 'Icy',
 'Isa',
 'Isadora',
 'Jesse',
 'Jewel',
 'Joe',
 'Johannah',
 'Juana',
 'Judith',
 'Judy',
 'Junie',
 'Lavonia',
 'Lella',
 'Lemma',
 'Letty',
 'Linna',
 'Littie',
 'Lollie',
 'Lorene',
 'Louis',
 'Love',
 'Lovisa',
 'Lucina',
 'Lynn',
 'Madora',
 'Mahalia',
 'Manervia',
 'Manuela',
 'Margarett',
 'Margaretta',
 'Margarita',
 'Marilla',
 'Mignon',
 'Mozella',
 'Natalie',
 'Nelia',
 'Nolie',
 'Omie',
 'Opal',
 'Ossie',
 'Ottie',
 'Ottilia',
 'Parthenia',
 'Penelope',
 'Pinkey',
 'Pollie',
 'Rennie',
 'Reta',
 'Roena',
 'Rosalee',
 'Roseanna',
 'Ruthie',
 'Sabra',
 'Sannie',
 'Selena',
 'Sibyl',
 'Tella',
 'Tempie',
 'Tennessee',
 'Teressa',
 'Texas',
 'Theda',
 'Thelma',
 'Thursa',
 'Ula',
 'Vannie',
 'Verona',
 'Vertie',
 'Wilma',
 'Edward',
 'Albert',
 'Samuel',
 'David',
 'Charlie',
 'Richard',
 'Andrew',
 'Daniel',
 'Ernest',
 'Will',
 'Oscar',
 'Lewis',
 'Peter',
 'Benjamin',
 'Frederick',
 'Alfred',
 'Sam',
 'Roy',
 'Herbert',
 'Jacob',
 'Tom',
 'Elmer',
 'Carl',
 'Howard',
 'Martin',
 'Michael',
 'Bert',
 'Herman',
 'Jim',
 'Harvey',
 'Earl',
 'Eugene',
 'Ralph',
 'Ed',
 'Edwin',
 'Ben',
 'Charley',
 'Paul',
 'Isaac',
 'Otto',
 'Luther',
 'Lawrence',
 'Patrick',
 'Guy',
 'Oliver',
 'Theodore',
 'Hugh',
 'Alexander',
 'August',
 'Floyd',
 'Homer',
 'Jack',
 'Leonard',
 'Horace',
 'Philip',
 'Allen',
 'Archie',
 'Stephen',
 ...]

In [14]:
user_data.head(10)

,funny,compliment_photos,yelping_since,cool,compliment_more,compliment_writer,compliment_cool,compliment_plain,compliment_cute,compliment_hot,...,user_id,name,compliment_note,compliment_list,elite,review_count,friends,useful,compliment_funny,average_stars
0,0,0,2015-09-28,0,0,0,0,0,0,0,...,lzlZwIpuSWXEnNS91wxjHw,Susan,0,0,None,1,None,0,0,2.00
1,0,0,2015-09-05,0,0,0,0,0,0,0,...,XvLBr-9smbI0m_a7dXtB7w,Daipayan,0,0,None,2,None,0,0,5.00
2,0,0,2016-07-21,0,0,0,0,0,0,0,...,QPT4Ud4H5sJVr68yXhoWFw,Andy,0,0,None,1,None,0,0,4.00
3,0,0,2014-08-04,0,0,0,0,0,0,0,...,i5YitlHZpf0B3R0s_8NVuw,Jonathan,0,0,None,19,None,0,0,4.05
4,0,0,2017-06-18,0,0,0,0,0,0,0,...,s4FoIXE_LSGviTHBe8dmcg,Shashank,0,0,None,3,None,0,0,3.00
5,0,0,2014-08-27,0,0,0,0,0,0,0,...,ZcsZdHLiJGVvDHVjeTYYnQ,Stacey X Joe,0,0,None,3,None,0,0,5.00
6,0,0,2016-02-02,0,0,0,0,0,0,0,...,h3p6aeVL7vrafSOM50SsCg,Lindsay,0,0,None,2,None,0,0,5.00

In [15]:
#data['Name']=='Susan'
# data[data['Gender']=='M']
data[data['Name']=='Susan']

     Name  Gender
79  Susan  Female

In [16]:
data

            Name  Gender
0           Mary  Female
1           Anna  Female
2           Emma  Female
3      Elizabeth  Female
4         Minnie  Female
...          ...     ...
93884     Zichen    Male
93885      Ziden    Male
93886      Zijun    Male
93887      Zilas    Male
93888      Zirui    Male

[93889 rows x 2 columns]

In [17]:
#ids = data["Name"]
#pd.concat(g for _, g in data.groupby("Name") if len(g) > 1)

In [18]:
user_name_list = user_data['name'].values.tolist()

In [19]:
user_name_list

['Susan',
 'Daipayan',
 'Andy',
 'Jonathan',
 'Shashank',
 'Stacey X Joe',
 'Lindsay']

In [20]:
def getGender(First_name):
    for name in data.iloc[:,0]:
        if (name == First_name):
            #return data.iloc[:,1]
            return data.iloc[data['Name']==name,1]
            break
    return None #if no match

def getGender_2(First_name):
    if (First_name in data.iloc[:,0]):
        #return data.iloc[:,1]
        #return ( data.iloc[data['Name']==name,1] )
        return ( data[data['Name']=='Susan'].iloc[:,1].values.tolist() )
    return None #if no match

def getGender_3(First_name): ######## works !!!!!!!
    for name in data.iloc[:,0]:
        if ( First_name == name ):
            #return data.iloc[:,1]
            #return ( data.iloc[data['Name']==name,1] )
            return ( data[data['Name']=='Susan'].iloc[:,1].values.tolist() )
    return None #if no match

In [21]:
type(data[data['Name']=='Susan'].iloc[:,1].values.tolist())

list

In [22]:
data[data['Name']=='Susan'].iloc[:,1].values.tolist()

['Female']

In [23]:
data[data['Name']=='Susan']

     Name  Gender
79  Susan  Female

In [24]:
'Susan' == str(data.iloc[:,0].any)

False

In [25]:
type(str(data.iloc[:,0]))

str

In [26]:
'Susan' in data.iloc[:,0]

False

In [27]:
%%timeit
a = getGender_3('Susan')

2.9 ms Â± 19.2 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [28]:
len(user_name_list)

7

In [29]:
user_name_list[:1000]

['Susan',
 'Daipayan',
 'Andy',
 'Jonathan',
 'Shashank',
 'Stacey X Joe',
 'Lindsay']

In [30]:
%%time
#gender = list(map(getGender_3,user_name_list ))
#gender = list(map(getGender_3,user_name_list[:1000] ))

CPU times: user 1 Âµs, sys: 1 Âµs, total: 2 Âµs
Wall time: 1.91 Âµs

In [31]:
a = getGender_3('Susan')
print (a)

['Female']

In [32]:
# print(list(gender)) #taking too much time\
#print(list(gender)[1])

In [33]:
def getGender_4(First_name): ######## using numpy arrays
    for name in data.iloc[:,0]:
        if ( First_name == name ):
            #return data.iloc[:,1]
            #return ( data.iloc[data['Name']==name,1] )
            return ( data[data['Name']=='Susan'].iloc[:,1].values.tolist() )
    return None #if no match

In [34]:
data_list = data.values.tolist

In [35]:
#data_list[0]

In [36]:
data_list

In [37]:
data

            Name  Gender
0           Mary  Female
1           Anna  Female
2           Emma  Female
3      Elizabeth  Female
4         Minnie  Female
...          ...     ...
93884     Zichen    Male
93885      Ziden    Male
93886      Zijun    Male
93887      Zilas    Male
93888      Zirui    Male

[93889 rows x 2 columns]

#### Using dict

In [38]:
zipbObj = zip(data.Name.tolist(), data.Gender.tolist())
 
# Create a dictionary from zip object
dict_name_gender = dict(zipbObj)
dict_name_gender

{'Mary': 'Female',
 'Anna': 'Female',
 'Emma': 'Female',
 'Elizabeth': 'Female',
 'Minnie': 'Female',
 'Margaret': 'Female',
 'Ida': 'Female',
 'Alice': 'Female',
 'Bertha': 'Female',
 'Sarah': 'Female',
 'Annie': 'Female',
 'Clara': 'Female',
 'Ella': 'Female',
 'Florence': 'Female',
 'Cora': 'Female',
 'Martha': 'Female',
 'Laura': 'Female',
 'Nellie': 'Female',
 'Grace': 'Female',
 'Carrie': 'Female',
 'Maude': 'Female',
 'Mabel': 'Female',
 'Bessie': 'Female',
 'Jennie': 'Female',
 'Gertrude': 'Female',
 'Julia': 'Female',
 'Hattie': 'Female',
 'Edith': 'Female',
 'Mattie': 'Female',
 'Rose': 'Female',
 'Catherine': 'Female',
 'Lillian': 'Female',
 'Ada': 'Female',
 'Lillie': 'Female',
 'Helen': 'Female',
 'Jessie': 'Female',
 'Louise': 'Female',
 'Ethel': 'Female',
 'Lula': 'Female',
 'Myrtle': 'Female',
 'Eva': 'Female',
 'Frances': 'Female',
 'Lena': 'Female',
 'Lucy': 'Female',
 'Edna': 'Female',
 'Maggie': 'Female',
 'Pearl': 'Female',
 'Daisy': 'Female',
 'Fannie': 'Female',
 'Josephine': 'Female',
 'Dora': 'Female',
 'Rosa': 'Female',
 'Katherine': 'Female',
 'Agnes': 'Female',
 'Marie': 'Female',
 'Nora': 'Female',
 'May': 'Female',
 'Mamie': 'Female',
 'Blanche': 'Female',
 'Stella': 'Female',
 'Ellen': 'Female',
 'Nancy': 'Female',
 'Effie': 'Female',
 'Sallie': 'Female',
 'Nettie': 'Female',
 'Della': 'Female',
 'Lizzie': 'Female',
 'Flora': 'Female',
 'Susie': 'Female',
 'Maud': 'Female',
 'Mae': 'Female',
 'Etta': 'Female',
 'Harriet': 'Female',
 'Sadie': 'Female',
 'Caroline': 'Female',
 'Katie': 'Female',
 'Lydia': 'Female',
 'Elsie': 'Female',
 'Kate': 'Female',
 'Susan': 'Female',
 'Mollie': 'Female',
 'Alma': 'Female',
 'Addie': 'Female',
 'Georgia': 'Female',
 'Eliza': 'Female',
 'Lulu': 'Female',
 'Nannie': 'Female',
 'Lottie': 'Female',
 'Amanda': 'Female',
 'Belle': 'Female',
 'Charlotte': 'Female',
 'Rebecca': 'Female',
 'Ruth': 'Female',
 'Viola': 'Female',
 'Olive': 'Female',
 'Amelia': 'Female',
 'Hannah': 'Female',
 'Jane': 'Female',
 'Virginia': 'Female',
 'Emily': 'Female',
 'Matilda': 'Female',
 'Irene': 'Female',
 'Kathryn': 'Female',
 'Esther': 'Female',
 'Willie': 'Male',
 'Henrietta': 'Female',
 'Ollie': 'Female',
 'Amy': 'Female',
 'Rachel': 'Female',
 'Sara': 'Female',
 'Estella': 'Female',
 'Theresa': 'Female',
 'Augusta': 'Female',
 'Ora': 'Female',
 'Pauline': 'Female',
 'Josie': 'Female',
 'Lola': 'Female',
 'Sophia': 'Female',
 'Leona': 'Female',
 'Anne': 'Female',
 'Mildred': 'Female',
 'Ann': 'Female',
 'Beulah': 'Female',
 'Callie': 'Female',
 'Lou': 'Female',
 'Delia': 'Female',
 'Eleanor': 'Female',
 'Barbara': 'Female',
 'Iva': 'Female',
 'Louisa': 'Female',
 'Maria': 'Female',
 'Mayme': 'Female',
 'Evelyn': 'Female',
 'Estelle': 'Female',
 'Nina': 'Female',
 'Betty': 'Female',
 'Marion': 'Female',
 'Bettie': 'Female',
 'Dorothy': 'Female',
 'Luella': 'Female',
 'Inez': 'Female',
 'Lela': 'Female',
 'Rosie': 'Female',
 'Allie': 'Female',
 'Millie': 'Female',
 'Janie': 'Female',
 'Cornelia': 'Female',
 'Victoria': 'Female',
 'Ruby': 'Female',
 'Winifred': 'Female',
 'Alta': 'Female',
 'Celia': 'Female',
 'Christine': 'Female',
 'Beatrice': 'Female',
 'Birdie': 'Female',
 'Harriett': 'Female',
 'Mable': 'Female',
 'Myra': 'Female',
 'Sophie': 'Female',
 'Tillie': 'Female',
 'Isabel': 'Female',
 'Sylvia': 'Female',
 'Carolyn': 'Female',
 'Isabelle': 'Female',
 'Leila': 'Female',
 'Sally': 'Female',
 'Ina': 'Female',
 'Essie': 'Female',
 'Bertie': 'Female',
 'Nell': 'Female',
 'Alberta': 'Female',
 'Katharine': 'Female',
 'Lora': 'Female',
 'Rena': 'Female',
 'Mina': 'Female',
 'Rhoda': 'Female',
 'Mathilda': 'Female',
 'Abbie': 'Female',
 'Eula': 'Female',
 'Dollie': 'Female',
 'Hettie': 'Female',
 'Eunice': 'Female',
 'Fanny': 'Female',
 'Ola': 'Female',
 'Lenora': 'Female',
 'Adelaide': 'Female',
 'Christina': 'Female',
 'Lelia': 'Female',
 'Nelle': 'Female',
 'Sue': 'Female',
 'Johanna': 'Female',
 'Lilly': 'Female',
 'Lucinda': 'Female',
 'Minerva': 'Female',
 'Lettie': 'Female',
 'Roxie': 'Female',
 'Cynthia': 'Female',
 'Helena': 'Female',
 'Hilda': 'Female',
 'Hulda': 'Female',
 'Bernice': 'Female',
 'Genevieve': 'Female',
 'Jean': 'Female',
 'Cordelia': 'Female',
 'Marian': 'Female',
 'Francis': 'Male',
 'Jeanette': 'Female',
 'Adeline': 'Female',
 'Gussie': 'Female',
 'Leah': 'Female',
 'Lois': 'Female',
 'Lura': 'Female',
 'Mittie': 'Female',
 'Hallie': 'Female',
 'Isabella': 'Female',
 'Olga': 'Female',
 'Phoebe': 'Female',
 'Teresa': 'Female',
 'Hester': 'Female',
 'Lida': 'Female',
 'Lina': 'Female',
 'Winnie': 'Female',
 'Claudia': 'Female',
 'Marguerite': 'Female',
 'Vera': 'Female',
 'Cecelia': 'Female',
 'Bess': 'Female',
 'Emilie': 'Female',
 'John': 'Male',
 'Rosetta': 'Female',
 'Verna': 'Female',
 'Myrtie': 'Female',
 'Cecilia': 'Female',
 'Elva': 'Female',
 'Olivia': 'Female',
 'Ophelia': 'Female',
 'Georgie': 'Female',
 'Elnora': 'Female',
 'Violet': 'Female',
 'Adele': 'Female',
 'Lily': 'Female',
 'Linnie': 'Female',
 'Loretta': 'Female',
 'Madge': 'Female',
 'Polly': 'Female',
 'Virgie': 'Female',
 'Eugenia': 'Female',
 'Lucile': 'Female',
 'Lucille': 'Female',
 'Mabelle': 'Female',
 'Rosalie': 'Female',
 'Kittie': 'Female',
 'Meta': 'Female',
 'Angie': 'Female',
 'Dessie': 'Female',
 'Georgiana': 'Female',
 'Lila': 'Female',
 'Regina': 'Female',
 'Selma': 'Female',
 'Wilhelmina': 'Female',
 'Bridget': 'Female',
 'Lilla': 'Female',
 'Malinda': 'Female',
 'Vina': 'Female',
 'Freda': 'Female',
 'Gertie': 'Female',
 'Jeannette': 'Female',
 'Louella': 'Female',
 'Mandy': 'Female',
 'Roberta': 'Female',
 'Cassie': 'Female',
 'Corinne': 'Female',
 'Ivy': 'Female',
 'Melissa': 'Female',
 'Lyda': 'Female',
 'Naomi': 'Female',
 'Norma': 'Female',
 'Bell': 'Female',
 'Margie': 'Female',
 'Nona': 'Female',
 'Zella': 'Female',
 'Dovie': 'Female',
 'Elvira': 'Female',
 'Erma': 'Female',
 'Irma': 'Female',
 'Leota': 'Female',
 'William': 'Male',
 'Artie': 'Female',
 'Blanch': 'Female',
 'Charity': 'Female',
 'Lorena': 'Female',
 'Lucretia': 'Female',
 'Orpha': 'Female',
 'Alvina': 'Female',
 'Annette': 'Female',
 'Catharine': 'Female',
 'Elma': 'Female',
 'Geneva': 'Female',
 'Janet': 'Female',
 'Lee': 'Male',
 'Leora': 'Female',
 'Lona': 'Female',
 'Miriam': 'Female',
 'Zora': 'Female',
 'Linda': 'Female',
 'Octavia': 'Female',
 'Sudie': 'Female',
 'Zula': 'Female',
 'Adella': 'Female',
 'Alpha': 'Female',
 'Frieda': 'Female',
 'George': 'Male',
 'Joanna': 'Female',
 'Leonora': 'Female',
 'Priscilla': 'Female',
 'Tennie': 'Female',
 'Angeline': 'Female',
 'Docia': 'Female',
 'Ettie': 'Female',
 'Flossie': 'Female',
 'Hanna': 'Female',
 'Letha': 'Female',
 'Minta': 'Female',
 'Retta': 'Female',
 'Rosella': 'Female',
 'Adah': 'Female',
 'Berta': 'Female',
 'Elisabeth': 'Female',
 'Elise': 'Female',
 'Goldie': 'Female',
 'Leola': 'Female',
 'Margret': 'Female',
 'Adaline': 'Female',
 'Floy': 'Female',
 'Idella': 'Female',
 'Juanita': 'Female',
 'Lenna': 'Female',
 'Lucie': 'Female',
 'Missouri': 'Female',
 'Nola': 'Female',
 'Zoe': 'Female',
 'Eda': 'Female',
 'Isabell': 'Female',
 'James': 'Male',
 'Julie': 'Female',
 'Letitia': 'Female',
 'Madeline': 'Female',
 'Malissa': 'Female',
 'Mariah': 'Female',
 'Pattie': 'Female',
 'Vivian': 'Female',
 'Almeda': 'Female',
 'Aurelia': 'Female',
 'Claire': 'Female',
 'Dolly': 'Female',
 'Hazel': 'Female',
 'Jannie': 'Female',
 'Kathleen': 'Female',
 'Kathrine': 'Female',
 'Lavinia': 'Female',
 'Marietta': 'Female',
 'Melvina': 'Female',
 'Ona': 'Female',
 'Pinkie': 'Female',
 'Samantha': 'Female',
 'Susanna': 'Female',
 'Chloe': 'Female',
 'Donnie': 'Male',
 'Elsa': 'Female',
 'Gladys': 'Female',
 'Matie': 'Female',
 'Pearle': 'Female',
 'Vesta': 'Female',
 'Vinnie': 'Female',
 'Antoinette': 'Female',
 'Clementine': 'Female',
 'Edythe': 'Female',
 'Harriette': 'Female',
 'Libbie': 'Female',
 'Lilian': 'Female',
 'Lue': 'Female',
 'Lutie': 'Female',
 'Magdalena': 'Female',
 'Meda': 'Female',
 'Rita': 'Female',
 'Tena': 'Female',
 'Zelma': 'Female',
 'Adelia': 'Female',
 'Annetta': 'Female',
 'Antonia': 'Female',
 'Dona': 'Female',
 'Elizebeth': 'Female',
 'Georgianna': 'Female',
 'Gracie': 'Female',
 'Iona': 'Female',
 'Lessie': 'Female',
 'Leta': 'Female',
 'Liza': 'Female',
 'Mertie': 'Female',
 'Molly': 'Female',
 'Neva': 'Female',
 'Oma': 'Female',
 'Alida': 'Female',
 'Alva': 'Male',
 'Cecile': 'Female',
 'Cleo': 'Female',
 'Donna': 'Female',
 'Ellie': 'Female',
 'Ernestine': 'Female',
 'Evie': 'Female',
 'Frankie': 'Male',
 'Helene': 'Female',
 'Minna': 'Female',
 'Myrta': 'Female',
 'Prudence': 'Female',
 'Queen': 'Female',
 'Rilla': 'Female',
 'Savannah': 'Female',
 'Tessie': 'Female',
 'Tina': 'Female',
 'Agatha': 'Female',
 'America': 'Female',
 'Anita': 'Female',
 'Arminta': 'Female',
 'Dorothea': 'Female',
 'Ira': 'Male',
 'Luvenia': 'Female',
 'Marjorie': 'Female',
 'Maybelle': 'Female',
 'Mellie': 'Female',
 'Nan': 'Female',
 'Pearlie': 'Female',
 'Sidney': 'Male',
 'Velma': 'Female',
 'Clare': 'Female',
 'Constance': 'Female',
 'Dixie': 'Female',
 'Ila': 'Female',
 'Iola': 'Female',
 'Jimmie': 'Male',
 'Louvenia': 'Female',
 'Lucia': 'Female',
 'Ludie': 'Female',
 'Luna': 'Female',
 'Metta': 'Female',
 'Patsy': 'Female',
 'Phebe': 'Female',
 'Sophronia': 'Female',
 'Adda': 'Female',
 'Avis': 'Female',
 'Betsy': 'Female',
 'Bonnie': 'Female',
 'Cecil': 'Male',
 'Cordie': 'Female',
 'Emmaline': 'Female',
 'Ethelyn': 'Female',
 'Hortense': 'Female',
 'June': 'Female',
 'Louie': 'Male',
 'Lovie': 'Female',
 'Marcella': 'Female',
 'Melinda': 'Female',
 'Mona': 'Female',
 'Odessa': 'Female',
 'Veronica': 'Female',
 'Aimee': 'Female',
 'Annabel': 'Female',
 'Ava': 'Female',
 'Bella': 'Female',
 'Carolina': 'Female',
 'Cathrine': 'Female',
 'Christena': 'Female',
 'Clyde': 'Male',
 'Dena': 'Female',
 'Dolores': 'Female',
 'Eleanore': 'Female',
 'Elmira': 'Female',
 'Fay': 'Female',
 'Frank': 'Male',
 'Jenny': 'Female',
 'Kizzie': 'Female',
 'Lonnie': 'Male',
 'Loula': 'Female',
 'Magdalene': 'Female',
 'Mettie': 'Female',
 'Mintie': 'Female',
 'Peggy': 'Female',
 'Reba': 'Female',
 'Serena': 'Female',
 'Vida': 'Female',
 'Zada': 'Female',
 'Abigail': 'Female',
 'Celestine': 'Female',
 'Celina': 'Female',
 'Claudie': 'Female',
 'Clemmie': 'Female',
 'Connie': 'Female',
 'Daisie': 'Female',
 'Deborah': 'Female',
 'Dessa': 'Female',
 'Easter': 'Female',
 'Eddie': 'Male',
 'Emelia': 'Female',
 'Emmie': 'Female',
 'Imogene': 'Female',
 'India': 'Female',
 'Jeanne': 'Female',
 'Joan': 'Female',
 'Lenore': 'Female',
 'Liddie': 'Female',
 'Lotta': 'Female',
 'Mame': 'Female',
 'Nevada': 'Female',
 'Rachael': 'Female',
 'Sina': 'Female',
 'Willa': 'Female',
 'Aline': 'Female',
 'Beryl': 'Female',
 'Charles': 'Male',
 'Daisey': 'Female',
 'Dorcas': 'Female',
 'Edmonia': 'Female',
 'Effa': 'Female',
 'Eldora': 'Female',
 'Eloise': 'Female',
 'Emmer': 'Female',
 'Era': 'Female',
 'Gena': 'Female',
 'Henry': 'Male',
 'Iris': 'Female',
 'Izora': 'Female',
 'Lennie': 'Female',
 'Lissie': 'Female',
 'Mallie': 'Female',
 'Malvina': 'Female',
 'Mathilde': 'Female',
 'Mazie': 'Female',
 'Queenie': 'Female',
 'Robert': 'Male',
 'Rosina': 'Female',
 'Salome': 'Female',
 'Theodora': 'Female',
 'Therese': 'Female',
 'Vena': 'Female',
 'Wanda': 'Female',
 'Wilda': 'Female',
 'Altha': 'Female',
 'Anastasia': 'Female',
 'Besse': 'Female',
 'Bird': 'Female',
 'Birtie': 'Female',
 'Clarissa': 'Female',
 'Claude': 'Male',
 'Delilah': 'Female',
 'Diana': 'Female',
 'Emelie': 'Female',
 'Erna': 'Female',
 'Fern': 'Female',
 'Florida': 'Female',
 'Frona': 'Female',
 'Hilma': 'Female',
 'Joseph': 'Male',
 'Juliet': 'Female',
 'Leonie': 'Female',
 'Lugenia': 'Female',
 'Mammie': 'Female',
 'Manda': 'Female',
 'Manerva': 'Female',
 'Manie': 'Female',
 'Nella': 'Female',
 'Paulina': 'Female',
 'Philomena': 'Female',
 'Rae': 'Female',
 'Selina': 'Female',
 'Sena': 'Female',
 'Theodosia': 'Female',
 'Tommie': 'Male',
 'Una': 'Female',
 'Vernie': 'Female',
 'Adela': 'Female',
 'Althea': 'Female',
 'Amalia': 'Female',
 'Amber': 'Female',
 'Angelina': 'Female',
 'Annabelle': 'Female',
 'Anner': 'Female',
 'Arie': 'Female',
 'Clarice': 'Female',
 'Corda': 'Female',
 'Corrie': 'Female',
 'Dell': 'Male',
 'Dellar': 'Female',
 'Donie': 'Female',
 'Doris': 'Female',
 'Elda': 'Female',
 'Elinor': 'Female',
 'Emeline': 'Female',
 'Emilia': 'Female',
 'Esta': 'Female',
 'Estell': 'Female',
 'Etha': 'Female',
 'Fred': 'Male',
 'Hope': 'Female',
 'Indiana': 'Female',
 'Ione': 'Female',
 'Jettie': 'Female',
 'Johnnie': 'Male',
 'Josiephine': 'Female',
 'Kitty': 'Female',
 'Lavina': 'Female',
 'Leda': 'Female',
 'Letta': 'Female',
 'Mahala': 'Female',
 'Marcia': 'Female',
 'Margarette': 'Female',
 'Maudie': 'Female',
 'Maye': 'Female',
 'Norah': 'Female',
 'Oda': 'Female',
 'Patty': 'Female',
 'Paula': 'Female',
 'Permelia': 'Female',
 'Rosalia': 'Female',
 'Roxanna': 'Female',
 'Sula': 'Female',
 'Vada': 'Female',
 'Winnifred': 'Female',
 'Adline': 'Female',
 'Almira': 'Female',
 'Alvena': 'Female',
 'Arizona': 'Female',
 'Becky': 'Female',
 'Bennie': 'Male',
 'Bernadette': 'Female',
 'Camille': 'Female',
 'Cordia': 'Female',
 'Corine': 'Female',
 'Dicie': 'Female',
 'Dove': 'Female',
 'Drusilla': 'Female',
 'Elena': 'Female',
 'Elenora': 'Female',
 'Elmina': 'Female',
 'Ethyl': 'Female',
 'Evalyn': 'Female',
 'Evelina': 'Female',
 'Faye': 'Female',
 'Huldah': 'Female',
 'Idell': 'Female',
 'Inga': 'Female',
 'Irena': 'Female',
 'Jewell': 'Female',
 'Kattie': 'Female',
 'Lavenia': 'Female',
 'Leslie': 'Female',
 'Lovina': 'Female',
 'Lulie': 'Female',
 'Magnolia': 'Female',
 'Margeret': 'Female',
 'Margery': 'Female',
 'Media': 'Female',
 'Millicent': 'Female',
 'Nena': 'Female',
 'Ocie': 'Female',
 'Orilla': 'Female',
 'Osie': 'Female',
 'Pansy': 'Female',
 'Ray': 'Male',
 'Rosia': 'Female',
 'Rowena': 'Female',
 'Shirley': 'Female',
 'Tabitha': 'Female',
 'Thomas': 'Male',
 'Verdie': 'Female',
 'Walter': 'Male',
 'Zetta': 'Female',
 'Zoa': 'Female',
 'Zona': 'Female',
 'Albertina': 'Female',
 'Albina': 'Female',
 'Alyce': 'Female',
 'Amie': 'Female',
 'Angela': 'Female',
 'Annis': 'Female',
 'Carol': 'Female',
 'Carra': 'Female',
 'Clarence': 'Male',
 'Clarinda': 'Female',
 'Delphia': 'Female',
 'Dillie': 'Female',
 'Doshie': 'Female',
 'Drucilla': 'Female',
 'Etna': 'Female',
 'Eugenie': 'Female',
 'Eulalia': 'Female',
 'Eve': 'Female',
 'Felicia': 'Female',
 'Florance': 'Female',
 'Fronie': 'Female',
 'Geraldine': 'Female',
 'Gina': 'Female',
 'Glenna': 'Female',
 'Grayce': 'Female',
 'Hedwig': 'Female',
 'Jessica': 'Female',
 'Jossie': 'Female',
 'Katheryn': 'Female',
 'Katy': 'Female',
 'Lea': 'Female',
 'Leanna': 'Female',
 'Leitha': 'Female',
 'Leone': 'Female',
 'Lidie': 'Female',
 'Loma': 'Female',
 'Lular': 'Female',
 'Magdalen': 'Female',
 'Maymie': 'Female',
 'Minervia': 'Female',
 'Muriel': 'Female',
 'Neppie': 'Female',
 'Olie': 'Male',
 'Onie': 'Female',
 'Osa': 'Female',
 'Otelia': 'Female',
 'Paralee': 'Female',
 'Patience': 'Female',
 'Rella': 'Female',
 'Rillie': 'Female',
 'Rosanna': 'Female',
 'Theo': 'Male',
 'Tilda': 'Female',
 'Tishie': 'Female',
 'Tressa': 'Female',
 'Viva': 'Female',
 'Yetta': 'Female',
 'Zena': 'Female',
 'Zola': 'Female',
 'Abby': 'Female',
 'Aileen': 'Female',
 'Alba': 'Female',
 'Alda': 'Female',
 'Alla': 'Female',
 'Alverta': 'Female',
 'Ara': 'Female',
 'Ardelia': 'Female',
 'Ardella': 'Female',
 'Arrie': 'Female',
 'Arvilla': 'Female',
 'Augustine': 'Male',
 'Aurora': 'Female',
 'Bama': 'Female',
 'Bena': 'Female',
 'Byrd': 'Male',
 'Calla': 'Female',
 'Camilla': 'Female',
 'Carey': 'Male',
 'Carlotta': 'Female',
 'Celestia': 'Female',
 'Cherry': 'Female',
 'Cinda': 'Female',
 'Classie': 'Female',
 'Claudine': 'Female',
 'Clemie': 'Female',
 'Clifford': 'Male',
 'Clyda': 'Female',
 'Creola': 'Female',
 'Debbie': 'Female',
 'Dee': 'Female',
 'Dinah': 'Female',
 'Doshia': 'Female',
 'Ednah': 'Female',
 'Edyth': 'Female',
 'Eleanora': 'Female',
 'Electa': 'Female',
 'Eola': 'Female',
 'Erie': 'Male',
 'Eudora': 'Female',
 'Euphemia': 'Female',
 'Evalena': 'Female',
 'Evaline': 'Female',
 'Faith': 'Female',
 'Fidelia': 'Female',
 'Freddie': 'Male',
 'Golda': 'Female',
 'Harry': 'Male',
 'Helma': 'Female',
 'Hermine': 'Female',
 'Hessie': 'Female',
 'Ivah': 'Female',
 'Janette': 'Female',
 'Jennette': 'Female',
 'Joella': 'Female',
 'Kathryne': 'Female',
 'Lacy': 'Female',
 'Lanie': 'Female',
 'Lauretta': 'Female',
 'Leana': 'Female',
 'Leatha': 'Female',
 'Leo': 'Male',
 'Liller': 'Female',
 'Lillis': 'Female',
 'Louetta': 'Female',
 'Madie': 'Female',
 'Mai': 'Female',
 'Martina': 'Female',
 'Maryann': 'Female',
 'Melva': 'Female',
 'Mena': 'Female',
 'Mercedes': 'Female',
 'Merle': 'Male',
 'Mima': 'Female',
 'Minda': 'Female',
 'Monica': 'Female',
 'Nealie': 'Female',
 'Netta': 'Female',
 'Nolia': 'Female',
 'Nonie': 'Female',
 'Odelia': 'Female',
 'Ottilie': 'Female',
 'Phyllis': 'Female',
 'Robbie': 'Female',
 'Sabina': 'Female',
 'Sada': 'Female',
 'Sammie': 'Male',
 'Suzanne': 'Female',
 'Sybilla': 'Female',
 'Thea': 'Female',
 'Tressie': 'Female',
 'Vallie': 'Female',
 'Venie': 'Female',
 'Viney': 'Female',
 'Wilhelmine': 'Female',
 'Winona': 'Female',
 'Zelda': 'Female',
 'Zilpha': 'Female',
 'Adelle': 'Female',
 'Adina': 'Female',
 'Adrienne': 'Female',
 'Albertine': 'Female',
 'Alys': 'Female',
 'Ana': 'Female',
 'Araminta': 'Female',
 'Arthur': 'Male',
 'Birtha': 'Female',
 'Bulah': 'Female',
 'Caddie': 'Female',
 'Celie': 'Female',
 'Charlotta': 'Female',
 'Clair': 'Male',
 'Concepcion': 'Female',
 'Cordella': 'Female',
 'Corrine': 'Female',
 'Delila': 'Female',
 'Delphine': 'Female',
 'Dosha': 'Female',
 'Edgar': 'Male',
 'Elaine': 'Female',
 'Elisa': 'Female',
 'Ellar': 'Female',
 'Elmire': 'Female',
 'Elvina': 'Female',
 'Ena': 'Female',
 'Estie': 'Female',
 'Etter': 'Female',
 'Fronnie': 'Female',
 'Genie': 'Female',
 'Georgina': 'Female',
 'Glenn': 'Male',
 'Gracia': 'Female',
 'Guadalupe': 'Female',
 'Gwendolyn': 'Female',
 'Hassie': 'Female',
 'Honora': 'Female',
 'Icy': 'Female',
 'Isa': 'Female',
 'Isadora': 'Female',
 'Jesse': 'Male',
 'Jewel': 'Female',
 'Joe': 'Male',
 'Johannah': 'Female',
 'Juana': 'Female',
 'Judith': 'Female',
 'Judy': 'Female',
 'Junie': 'Female',
 'Lavonia': 'Female',
 'Lella': 'Female',
 'Lemma': 'Female',
 'Letty': 'Female',
 'Linna': 'Female',
 'Littie': 'Female',
 'Lollie': 'Female',
 'Lorene': 'Female',
 'Louis': 'Male',
 'Love': 'Female',
 'Lovisa': 'Female',
 'Lucina': 'Female',
 'Lynn': 'Female',
 'Madora': 'Female',
 'Mahalia': 'Female',
 'Manervia': 'Female',
 'Manuela': 'Female',
 'Margarett': 'Female',
 'Margaretta': 'Female',
 'Margarita': 'Female',
 'Marilla': 'Female',
 'Mignon': 'Female',
 'Mozella': 'Female',
 'Natalie': 'Female',
 'Nelia': 'Female',
 'Nolie': 'Female',
 'Omie': 'Female',
 'Opal': 'Female',
 'Ossie': 'Female',
 'Ottie': 'Female',
 'Ottilia': 'Female',
 'Parthenia': 'Female',
 'Penelope': 'Female',
 'Pinkey': 'Female',
 'Pollie': 'Female',
 'Rennie': 'Male',
 'Reta': 'Female',
 'Roena': 'Female',
 'Rosalee': 'Female',
 'Roseanna': 'Female',
 'Ruthie': 'Female',
 'Sabra': 'Female',
 'Sannie': 'Female',
 'Selena': 'Female',
 'Sibyl': 'Female',
 'Tella': 'Female',
 'Tempie': 'Female',
 'Tennessee': 'Female',
 'Teressa': 'Female',
 'Texas': 'Male',
 'Theda': 'Female',
 'Thelma': 'Female',
 'Thursa': 'Female',
 'Ula': 'Female',
 'Vannie': 'Female',
 'Verona': 'Female',
 'Vertie': 'Female',
 'Wilma': 'Female',
 'Edward': 'Male',
 'Albert': 'Male',
 'Samuel': 'Male',
 'David': 'Male',
 'Charlie': 'Male',
 'Richard': 'Male',
 'Andrew': 'Male',
 'Daniel': 'Male',
 'Ernest': 'Male',
 'Will': 'Male',
 'Oscar': 'Male',
 'Lewis': 'Male',
 'Peter': 'Male',
 'Benjamin': 'Male',
 'Frederick': 'Male',
 'Alfred': 'Male',
 'Sam': 'Male',
 'Roy': 'Male',
 'Herbert': 'Male',
 'Jacob': 'Male',
 'Tom': 'Male',
 'Elmer': 'Male',
 'Carl': 'Male',
 'Howard': 'Male',
 'Martin': 'Male',
 'Michael': 'Male',
 'Bert': 'Male',
 'Herman': 'Male',
 'Jim': 'Male',

In [39]:
dict_name_gender['Aabha']

'Female'

In [40]:
'''
name and gender mapping in DICT = dict_name_gender
name = data.Name.tolist()
gender = data.Gender.tolist()
'''

'\nname and gender mapping in DICT = dict_name_gender\nname = data.Name.tolist()\ngender = data.Gender.tolist()\n'

In [41]:
user_name_list = user_data['name'].values.tolist()
our_name_list = data.Name.tolist()
user_name_array = np.array(user_name_list)
our_name_array = np.array(our_name_list)

In [42]:
type(user_name_array)
user_name_array

array(['Susan', 'Daipayan', 'Andy', 'Jonathan', 'Shashank',
       'Stacey X Joe', 'Lindsay'], dtype='<U12')

In [43]:
#testing
'Dave' in our_name_list

True

In [44]:
%%time
#algo to map values of gender
gender_assigned_list = []

#for check_name in user_name_list:
for check_name in user_name_array:
    #now check in our database
    if check_name in our_name_array:
        #map name and gender from dictionary
        gender_assigned_list.append( dict_name_gender[check_name] )
    else:
        gender_assigned_list.append('None') #might work

CPU times: user 12.5 ms, sys: 593 Âµs, total: 13.1 ms
Wall time: 12.9 ms

In [45]:
type(gender_assigned_list)

list

In [46]:
len(gender_assigned_list)

7

In [47]:
# %%time
# #testing - not required
# #for check_name in user_name_list[:1000]:
# for check_name in user_name_array:
#     print (check_name)

In [48]:
gender_assigned_list

['Female', 'None', 'Male', 'Male', 'Male', 'None', 'Female']

In [49]:
len(user_name_array)

7

In [50]:
#inserting a new column to dataframe
df = pd.DataFrame({'B': [1, 2, 3], 'C': [4, 5, 6]})
df.insert(loc=2, column='A', value=gender_assigned_list[:3])

In [51]:
df

   B  C       A
0  1  4  Female
1  2  5    None
2  3  6    Male

In [52]:
user_data.insert(loc=14, column='Gender', value=gender_assigned_list)

In [53]:
user_data.head(10)

,funny,compliment_photos,yelping_since,cool,compliment_more,compliment_writer,compliment_cool,compliment_plain,compliment_cute,compliment_hot,...,name,Gender,compliment_note,compliment_list,elite,review_count,friends,useful,compliment_funny,average_stars
0,0,0,2015-09-28,0,0,0,0,0,0,0,...,Susan,Female,0,0,None,1,None,0,0,2.00
1,0,0,2015-09-05,0,0,0,0,0,0,0,...,Daipayan,None,0,0,None,2,None,0,0,5.00
2,0,0,2016-07-21,0,0,0,0,0,0,0,...,Andy,Male,0,0,None,1,None,0,0,4.00
3,0,0,2014-08-04,0,0,0,0,0,0,0,...,Jonathan,Male,0,0,None,19,None,0,0,4.05
4,0,0,2017-06-18,0,0,0,0,0,0,0,...,Shashank,Male,0,0,None,3,None,0,0,3.00
5,0,0,2014-08-27,0,0,0,0,0,0,0,...,Stacey X Joe,None,0,0,None,3,None,0,0,5.00
6,0,0,2016-02-02,0,0,0,0,0,0,0,...,Lindsay,Female,0,0,None,2,None,0,0,5.00

In [55]:
#user_data.to_csv("modified_user.csv")
user_data.to_csv("data/modified_user_2.csv", index =False) #do not keep index

In [56]:
#with open('gender_assigned_to_user.txt', 'w') as f:
#    for item in gender_assigned_list:
#        f.write("%s\n" % item)

In [57]:
#user_data = pd.read_csv("data/modified_user.csv")

In [58]:
#user_data.head(10)